@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sansita&display=swap');

:root {
  --yellow: #e29117;
}

* {
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  transition: all .2s linear;
}

html, body {
  overflow-x: hidden;
  color: white;
  margin: 0 auto;
}

h1 {
  font-family: 'Bungee Inline', cursive;
  font-size: 1.8rem;
}

h1, h2, p {
  margin: 0.25rem;
}

h2, p {
  font-family: 'Sansita', sans-serif;
  letter-spacing: 0.016rem
}

p {
  font-size: 1.3em;
}

.linkedin-backgroung {
  background-image: url("https://c1.wallpaperflare.com/preview/427/745/192/notebook-natural-laptop-macbook.jpg");
  width: 100%;
  height: 25rem;
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-color: #2b251d;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.overlay:before {
  content: " ";
  z-index: 1;
  display: block;
  background: rgba(14, 13, 13, 0.7);
  position: absolute;
  width: 100%;
  height: 25rem;
}

.overlay * {
  position: relative;
  /* Makes elements display above overlay. */
}

.sec-first-child {
  width: 50%;
  position: relative;
  left: 45%;
  top: 15%;
  z-index: 1;
  font-weight: bold;
}

.linkedin-intro h1 {
  text-align: center;
}

.linkedin-intro span {
  display: none;
}

#read-more {
  font-size: 0.875rem;
  margin-left: 0.313rem;
  cursor: pointer;
  margin-bottom: 0;
}

#read-more:hover {
  color: var(--yellow);
  font-weight: bolder;
}

.social-media {
  position: relative;
  text-align: center;
  width: 100%;
}

.social-media ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 0.875rem;
}

.social-media li {
  display: inline-block;
}

.social-media img {
  width: 1.5rem;
  height: auto;
  padding: 0.188rem 0 0.188rem 0;
}

.social-media img:hover {
  transform: scale(1.5);
  transition: 0.3s;
}

@media screen and (max-width: 1024px) {
  .linkedin-backgroung {
    background-size: cover;
  }
  .sec-first-child {
    top: 9%;
    left: 5%;
  }
}

@media screen and (max-width: 768px) {
  .sec-first-child {
    width: 75%;
    top: 12%;
  }
}

@media screen and (max-width: 425px) {
  .linkedin-intro h1 {
    text-align: left;
    font-size: 1.5rem;
  }
  h2 {
    font-size: larger;
  }
  p {
    font-size: 1em;
  }
}

@media screen and (max-width: 375px) {
  .sec-first-child {
      top: 8%;
    }
}

@media screen and (max-width: 320px) {
  .linkedin-intro h1 {
    font-size: 1.3rem;
  }
}